*{
    margin: 0px;
    padding: 1px;
    list-style:none;
}
$main-theme:#ffc048;
$navbar-color:#ffdd59;

body{
    
    background-color: $main-theme;
   
    .navbarofjasuaPage{
        display: flex;
        flex-direction: row;
        height: 320px;
        width: 100%;
        background-color: $navbar-color;


        .container{
            padding: 5px;


        height: 100%;
        width: 100%;
        margin: 0px auto;
        

        }
        .navbar-collapse{
            height: 50px;
            width: 1000px;
            margin: auto 0px;
            ul{
                li{float: left;
                    a{
                        display: block;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        width: 150px;
                        text-decoration: none;
                        font-size: 24px;
                        color: black;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        &:hover{
                            color:beige;
                        }

                    }
                }
            }

            
            

        }

    }


    
    }

    .containermt-3{
        flex-direction: row;
        display: flex;
        
        
        .row{
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            margin:1px;
            padding: 1px;
            .colmd-9{
                

                .card-shadow{
                    list-style-type: disc;
                    text-decoration: solid;
                   
                    height: 100%;
                    width: 100%;
                    border-color:black;
                    border-style:solid;
                    justify-content: flex-start;
                    flex-basis: 24%;
                    
                    .card-body{
                        background-color: aliceblue;
                        list-style:circle;                    
                    }

                }
                

            }

            .portfolios{
                max: width 50px;
                max: height 50px;
                border-style: solid;
                justify-content: center;
                flex-basis: 43%;

                
            }


            .asideclass{
                max: width 75px;
                max: height 75px;
                border-style: solid;
                justify-content: flex-end;
                flex-basis: 10%;

                .rounded circle{
                    width:"280";
                     height:"220";
                     display:"flex";
                      flex-basis:"20%";
                       justify-content:"center"
                
            }
        }
        

    }




}